@{
    ViewData["Title"] = "Simple Task";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1><a asp-controller="Category" asp-action="Index">Visit our Categories and Products</a></h1>
    <h1>OR</h1>
    <h1><a asp-controller="CategoryAPI" asp-action="ViewCategories">Try API Service</a></h1>

</div>
